<phpunit
        backupGlobals               = "false"
        backupStaticAttributes      = "false"
        colors                      = "false"
        convertErrorsToExceptions   = "true"
        convertNoticesToExceptions  = "true"
        convertWarningsToExceptions = "true"
        processIsolation            = "false"
        stopOnFailure               = "false"
        syntaxCheck                 = "false"
        bootstrap="./Tests/bootstrap.php" >
    <testsuites>
        <testsuite name="SysEleven PowerDns Bundle Test Suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="./Tests/Functional/app" />
    </php>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
                <directory>./Features</directory>
            </exclude>
        </whitelist>
    </filter>
    <php>
        <ini name="memory_limit" value="1024M" />
        <ini name="xdebug.max_nesting_level" value="-1" />
        <env name="BOOTSTRAP_CLEAN_DATABASE_ENV" value="test"/>
        <env name="BOOTSTRAP_LOAD_FIXTURES_ENV" value="test"/>
        <env name="BOOTSTRAP_CLEAR_CACHE_ENV" value="test"/>
        <const name="DB_USER" value="root"/>
        <const name="DB_PASSWORD" value="root"/>
    </php>
</phpunit>


